.school-car[data-v-3ecd65c5] {
    position: relative
}

.school-car h1[data-v-3ecd65c5] {
    font-weight: 700;
    font-size: .48rem;
    text-align: center;
    padding: .266667rem 0
}

.school-car h2[data-v-3ecd65c5] {
    font-size: .426667rem;
    font-weight: 700;
    color: #ff0097;
    text-align: center
}

.school-car p[data-v-3ecd65c5] {
    font-size: .373333rem;
    text-align: center;
    padding: .133333rem
}

.school-car table[data-v-3ecd65c5] {
    margin: 0 auto .533333rem;
    text-align: center
}

.school-car table tr td[data-v-3ecd65c5] {
    font-size: .426667rem;
    line-height: 1.429;
    text-align: center;
    border: .026667rem solid;
    padding: .186667rem .106667rem;
    vertical-align: middle
}

.cwc .tip[data-v-bda8ceaa] {
    color: red;
    font-size: .426667rem;
    line-height: 1.429
}

.tsg[data-v-ffababb4],
.zzzx[data-v-7cbcc839] {
    position: relative;
    padding-top: 50%;
    margin: .853333rem
}

.form[data-v-3b88fce2] {
    position: relative
}